<div class="cart-item">
  <div class="cart-item__details">
    {% if item.image %}
      <a href="{{ item.url }}">
        {{ item.image | image_url: width: item.image.width | image_tag: preload: true, class: 'auto', loading: 'lazy' }}
      </a>
    {%- endif -%}
    <div>
      <a href="{{ item.url }}">{{ item.product.title }}</a>
      {% unless item.product.has_only_default_variant %}
        <ul>
          {%- for option in item.options_with_values -%}
            <li>{{ option.name }}: {{ option.value }}</li>
          {%- endfor -%}
        </ul>
      {% endunless %}

      {% unless item.properties == empty %}
        <ul>
          {% for property in item.properties %}
            <li>{{ property.first }}: {{ property.last }}</li>
          {% endfor %}
        </ul>
      {% endunless %}
      <p>{{ item.selling_plan_allocation.selling_plan.name }}</p>
      <div class="error-placeholder" data-ajax-cart-errors="{{ item.key }}"></div>
    </div>
  </div>

  <div class="cart-item__price">
    {% if item.original_price > item.final_price %}
      <s class="original-price">{{ item.original_price | money }}</s>
    {% endif %}
    <div class="final-price">{{ item.final_price | money }}</div>
  </div>
  <div class="cart-item__quantity">
    <ajax-cart-quantity class="quantity-picker">
      <a
        href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity={{ item.quantity | minus: 1 }}"
        data-ajax-cart-quantity-minus
        class="quantity-picker__btn quantity-picker__btn--decrease"
        type="button"
        aria-label="{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}"
      >
        &#8212;</a
      >
      <input
        class="count"
        type="number"
        value="{{ item.quantity }}"
        data-ajax-cart-quantity-input="{{ forloop.index }}"
        aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
      >
      <a
        href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity={{ item.quantity | plus: 1 }}"
        data-ajax-cart-quantity-plus
        class="quantity-picker__btn quantity-picker__btn--increase"
        type="button"
        aria-label="{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}"
        >&#43;</a
      >
    </ajax-cart-quantity>
  </div>
  <div class="cart-item__total">
    <div class="cart-item__remove">
      <a
        href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0"
        data-ajax-cart-request-button
        class="remove"
        type="button"
      >
        Remove
      </a>
    </div>
  </div>
</div>
