{% comment %}
  Renders an article card for a given blog.

  Accepts:
  - blog: {Object} Blog object
  - article: {Object} Article object
{% endcomment %}

<article>
  {%- if article.image -%}
    <a href="{{ article.url }}">
      <image-loader>
        {%- comment -%}
            TODO: adjust the "loading" and the "sizes" attributes according to the design
          {%- endcomment -%}
        {{-
        article.image
        | image_url: width: article.image.width
        | image_tag: loading: "lazy", sizes: '(min-width: 768px) 30vw, 50vw'
        -}}
      </image-loader>
    </a>
  {%- endif -%}

  <div>
    <a href="{{ article.url }}">
      {{ article.title | escape }}
    </a>
  </div>
  <div>{{- article.published_at | time_tag: format: 'date' -}}</div>
  <div>{{ article.author | escape -}}</div>

  {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
    <div>
      {%- if article.excerpt.size > 0 -%}
        {{ article.excerpt | strip_html | truncatewords: 30 }}
      {%- else -%}
        {{ article.content | strip_html | truncatewords: 30 }}
      {%- endif -%}
    </div>
  {%- endif -%}

  {%- if article.comments_count > 0 and blog.comments_enabled? -%}
    <div>{{ 'blogs.article.comments_count' | t: count: article.comments_count }}</div>
  {%- endif -%}

</article>
