{% comment %} 
  Usage:
  {%- render 'breadcrumbs', excluded_templates: "page,cart", class: "custom_classnames" -%} 
{% endcomment %}

{%- liquid
  assign default_excluded_templates = 'index,list-collections,404'
  assign excluded = default_excluded_templates | split: ','

  if excluded_templates and excluded_templates != blank
    assign excluded = excluded_templates | append: ',' | append: default_excluded_templates | split: ','
  endif
-%}
{%- unless excluded contains template.name -%}
  {%- liquid
    style
      render 'css-breadcrumbs.css'
    endstyle

    assign accessibility_home = 'general.accessibility.home' | t
    assign t = template | split: '.' | first
  -%}
  <nav aria-label="Breadcrumb">
    <ul>
      <li>
        <a href="{{ routes.root_url }}" title="{{ accessibility_home }}">
          {{- accessibility_home -}}
        </a>
      </li>
      {%- case t -%}
        {%- when 'page' -%}
          <li>
            <span>{{ page.title | escape }}</span>
          </li>
        {%- when 'search' -%}
          {%- liquid
            assign search_breadcrumbs_string = 'general.breadcrumbs.search.no_terms'
            if search.terms != blank
              assign search_breadcrumbs_string = 'general.breadcrumbs.search.terms'
            endif
          -%}
          <li>
            <span>{{ search_breadcrumbs_string | t: terms: search.terms }}</span>
          </li>
        {%- when 'product' -%}
          {%- if collection.url -%}
            <li>{{ collection.title | escape | link_to: collection.url }}</li>
          {%- endif -%}
          <li>
            <span>{{ product.title }}</span>
          </li>
        {%- when 'blog' -%}
          {%- if current_tags -%}
            <li>{{ blog.title | link_to: blog.url }}</li>
            <li>
              <span>{{ current_tags | join: ' + ' }}</span>
            </li>
          {%- else -%}
            <li>
              <span>{{ blog.title }}</span>
            </li>
          {%- endif -%}
        {%- when 'article' -%}
          <li>{{ blog.title | escape | link_to: blog.url }}</li>
          <li>
            <span>{{ article.title | escape }}</span>
          </li>
        {% comment %} 
        Custom cart page breadcrumb only if needed. Most of the cases we can use page_title and adjust the text in shopify translations Checkout & systems -> Page titles -> Shopping cart 
        {%- when 'cart' -%}
          <li aria-current="page">
            <a href="{{ routes.cart_url }}" class="current" aria-current="page">{{ page_title }}</a>
          </li>
        {% endcomment %}
        {%- else -%}
          <li>
            <span>{{ page_title }}</span>
          </li>
      {%- endcase -%}
    </ul>
  </nav>
{%- endunless -%}
