{% comment %}
  TODO: improve logic for hide/show in specific pages
{% endcomment %}

{%- unless template == 'index' or template == 'list-collections' or template == '404' -%}
  {% render 'stylesheet', name: 'breadcrumbs' %}
  {% assign t = template | split: '.' | first %}
  <nav class="breadcrumbs-wrap container" role="navigation">
    <ul class="breadcrumbs ">
      <li>
        <a href="{{ routes.root_url }}" title="{{- 'general.breadcrumbs.home' | t -}}">
          {{- 'general.breadcrumbs.home' | t -}}
        </a>
      </li>
      {% render 'icon-chevron-right' %}
      {% case t %}
        {% when 'page' %}
          <li>
            <a href="{{ page.url }}" aria-current="page">{{ page.title }}</a>
          </li>
        {% when 'product' %}
          {% if collection.url %}
            <li>{{ collection.title | link_to: collection.url }}</li>
            {% render 'icon-chevron-right' %}
          {% endif %}
          <li>
            <a href="{{ collection.url }}{{ product.url }}" class="current" aria-current="page">{{ product.title }}</a>
          </li>
          {% render 'icon-chevron-right' %}
        {% when 'collection' and collection.handle %}
          {% if current_tags %}
            <li>{{ collection.title | link_to: collection.url }}</li>
            {% render 'icon-chevron-right' %}
            <li>
              {% capture tag_url %}{{ collection.url }}/{{ current_tags | join: "+" }}{% endcapture %}
              <a href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + " }}</a>
            </li>
          {% else %}
            <li>
              <a href="{{ collection.url }}" class="current" aria-current="page">{{ collection.title }}</a>
            </li>
          {% endif %}
        {% when 'blog' %}
          {% if current_tags %}
            <li>{{ blog.title | link_to: blog.url }}</li>
            {% render 'icon-chevron-right' %}
            <li>
              {% capture tag_url %}{{ blog.url }}/tagged/{{ current_tags | join: "+" }}{% endcapture %}
              <a href="{{ tag_url }}" class="current" aria-current="page">{{ current_tags | join: " + " }}</a>
            </li>
          {% else %}
            <li>
              <a href="{{ blog.url }}" class="current" aria-current="page">{{ blog.title }}</a>
            </li>
          {% endif %}
        {% when 'article' %}
          <li>{{ blog.title | link_to: blog.url }}</li>
          {% render 'icon-chevron-right' %}
          <li>
            <a href="{{ article.url }}" class="current" aria-current="page">{{ article.title }}</a>
          </li>
        {% else %}
          <li aria-current="page">
            <a href="{{ request.path }}" class="current" aria-current="page">
              {%- liquid
                case request.page_type
                  when 'search'
                    echo 'general.breadcrumbs.search_result' | t
                  when 'policy'
                    for policy in shop.policies
                      if policy.url == request.path
                        echo policy.title
                      endif
                    endfor
                  else
                    if request.path contains 'sitemap'
                      echo 'general.breadcrumbs.sitemap' | t
                    else
                      echo template.name | replace: '_', ' '  | capitalize
                    endif
                endcase
              -%}
            </a>
          </li>
      {% endcase %}
    </ul>
  </nav>
{%- endunless -%}
