{%- liquid
  assign reset_filters_url = results.url
  if reset_filters_url
    if results.sort_by != ""
      assign reset_filters_url = reset_filters_url | append: '?sort_by=' | append: results.sort_by
    endif
  else
    assign terms = results.terms | escape
    if results.types.size > 0
      assign type = results.types | join: ','
    endif
    assign reset_filters_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: results.sort_by | append: '&type=' | append: type
  endif
-%}

<facets-form>
  <form>
    {%- if results.terms -%}
      <input type="hidden" name="q" value="{{ results.terms | escape }}">
      <input name="options[prefix]" type="hidden" value="last">
      {%- if results.types.size > 0 -%}
        <input name="type" type="hidden" value="{{ results.types | join: ',' }}">
      {%- endif -%}
    {%- endif -%}

    {% if results.current_vendor or results.current_type %}
      <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
    {% endif %}

    {%- for filter in results.filters -%}
      <hr />
      {% case filter.type %}
        {% when 'boolean', 'list' %}
          <div>
            <div>
              {{ filter.label | escape }}
            </div>
            <div data-facets-form-content="filter-block-{{ forloop.index }}">
              <div>
                {{ filter.active_values.size }} selected
                {% if filter.active_values.size > 0 -%}
                  <a href="{{ filter.url_to_remove }}" data-facets-form-link>clear</a>
                {%- endif %}
              </div>
              <ul>
                {%- for value in filter.values -%}
                  <li>
                    <input
                      type="checkbox"
                      name="{{ value.param_name }}"
                      data-facets-form-input
                      value="{{ value.value }}"
                      id="filter-{{ filter.label | escape }}-{{ forloop.index }}"
                      {% if value.active %}
                        checked
                      {% endif %}
                      {% if value.count == 0 and value.active == false %}
                        disabled
                      {% endif %}
                    >
                    <label
                      for="filter-{{ filter.label | escape }}-{{ forloop.index }}"
                    >
                      {{ value.label | escape }} ({{ value.count }})
                    </label>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          </div>
        {% when 'price_range' %}
          {% liquid
            assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
            assign uses_comma_decimals = false
            if currencies_using_comma_decimals contains cart.currency.iso_code
              assign uses_comma_decimals = true
            endif
          %}
          <div>
            <div class="summary">
              {{ filter.label | escape }}
            </div>
            <div data-facets-form-content="filter-block-{{ forloop.index }}">
              {%- if filter.min_value.value != null or filter.max_value.value != null -%}
                <a href="{{ filter.url_to_remove }}" data-facets-form-link>clear</a>
              {%- endif -%}
              <div>
                <div>
                  <label for="filter-{{ filter.label | escape }}-gte">From:</label>
                  <input
                    name="{{ filter.min_value.param_name }}"
                    data-facets-form-input
                    id="filter-{{ filter.label | escape }}-gte"
                    {%- if filter.min_value.value -%}
                      {%- if uses_comma_decimals -%}
                        value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                      {%- else -%}
                        value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                      {%- endif %}
                    {%- endif -%}
                    type="number"
                    placeholder="0"
                    min="0"
                    {%- if uses_comma_decimals -%}
                      max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                    {%- else -%}
                      max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                    {% endif %}
                  >
                </div>
                <div>
                  <label for="filter-{{ filter.label | escape }}-lte">To:</label>
                  <input
                    name="{{ filter.max_value.param_name }}"
                    data-facets-form-input
                    id="filter-{{ filter.label | escape }}-lte"
                    {%- if filter.max_value.value -%}
                      {%- if uses_comma_decimals -%}
                        value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                      {%- else -%}
                        value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                      {%- endif %}
                    {%- endif -%}
                    type="number"
                    min="0"
                    {%- if uses_comma_decimals -%}
                      placeholder="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                      max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                    {%- else -%}
                      placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                      max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                    {% endif %}
                  >
                </div>
              </div>
            </div>
          </div>
      {% endcase %}
    {%- endfor -%}
    <hr />
    <div>
      <div>[Sort by]</div>
      <div data-facets-form-content="sort-block">
        {%- for option in results.sort_options -%}
          <div>
            <input
              name="sort_by"
              type="radio"
              data-facets-form-input
              id="sort-by-{{ option.value | escape }}"
              value="{{ option.value | escape }}"
              data-label="{{ option.name | escape }}"
              {% if option.value == results.sort_by %}checked{% endif %}
            />
            <label for="sort-by-{{ option.value | escape }}">
              {{ option.name | escape }}
            </label>
          </div>
        {%- endfor -%}
      </div>
    </div>
    <hr />
    <button type="submit" class="no-js-show">
      [Apply]
    </button>
    <hr />
  </form>
</facets-form>

{%- capture active_filters_html -%}
  {%- for filter in results.filters -%}
    {%- for value in filter.active_values -%}
      <a href="{{ value.url_to_remove }}" data-facets-form-link>
        {{ filter.label }}: {{ value.label | escape }}
      </a>
    {%- endfor -%}
    {% if filter.type == 'price_range' %}
      {%- if filter.min_value.value != null or filter.max_value.value != null -%}
        <a href="{{ filter.url_to_remove }}" data-facets-form-link>
          {%- if filter.min_value.value -%}
            {{ filter.min_value.value | money }}
          {%- else -%}
            {{ 0 | money }}
          {%- endif -%}
          —
          {%- if filter.max_value.value -%}
            {{ filter.max_value.value | money }}
          {%- else -%}
            {{ filter.range_max | money }}
          {%- endif -%}
        </a>
      {%- endif -%}
    {% endif %}
  {%- endfor -%}
{%- endcapture -%}
{%- assign active_filters_html = active_filters_html | strip -%}
<div data-facets-form-content="active-filters">
  {%- if active_filters_html != '' -%}
    {{ active_filters_html }}
    <a href="{{ reset_filters_url }}" data-facets-form-link>
      Clear All
    </a>
  {%- endif -%}
</div>
