<nav class="pagination" role="navigation" aria-label="Pagination">
  <ul role="list">
    <li>
      <a class="pagination__prev {% unless paginate.previous %}disabled{% endunless %}"
        href="{{ paginate.previous.url }}"
        data-html-fetcher-link="{{ paginate.previous.url }}&section_id={{ section.id }}"
        aria-label="Previous page"> </a>
    </li>
    {%- for part in paginate.parts -%}
    <li>
      {%- if part.is_link -%}
      <a href="{{ part.url }}" data-html-fetcher-link="{{ part.url }}&section_id={{ section.id }}"
        aria-label="Page number {{ part.title }}">
        {{- part.title -}}
      </a>
      {%- else -%}
      {%- if part.title == paginate.current_page -%}
      <span class="pagination__current" aria-current="page" aria-label="Page number {{ part.title }}">
        {{- part.title -}}
      </span>
      {%- else -%}
      <span>{{ part.title }}</span>
      {%- endif -%}
      {%- endif -%}
    </li>
    {%- endfor -%}
    <li>
      <a class="pagination__next {% unless paginate.next %}disabled{% endunless %}"
        href="{{ paginate.next.url }}"
        data-html-fetcher-link="{{ paginate.next.url }}&section_id={{ section.id }}" aria-label="Next page">
      </a>
    </li>
  </ul>
</nav>