{% comment %}
  Renders a product card

  Accepts:
  - product: {Object} Shopify Product object
{% endcomment %}

{%- liquid
  unless no_css
    render 'stylesheet', name: 'product-card'
  endunless
-%}

{%- comment -%}
  Calculation the current_variant variable.
  TODO:
  If you don't want to preselect a first available variant,
  replace the line [assign current_variant = product.selected_or_first_available_variant]
  with the following line: [assign current_variant = product.selected_variant]
{%- endcomment -%}
{%- liquid
  assign current_variant = nil
  if product.has_only_default_variant
    assign current_variant = product.variants[0]
  else
    assign current_variant = product.selected_or_first_available_variant
  endif
  assign product_media = current_variant.featured_media | default: product.featured_media
-%}

<div class="product-card">

  {%- comment -%}
    TODO:
    if the product card doesn't have variant selectors
    and the feature to update the product card using Sections API isn't needed,
    then remove the "product-section" component, the "product-section-json" snippet render
    and all related "data-product-section-*" attributes
  {%- endcomment -%}
  <product-section>
    {%- render 'product-section-json', product: product, variant_id: current_variant.id, section_id: 'product-card', update_url: false -%}

    <div data-product-section-area>
      {%- if product_media != blank -%}
        <a href="{{ product.url | within: collection }}">
          <image-loader>
            {%- comment -%}
              TODO: adjust the "loading" and the "sizes" attributes according to the design
            {%- endcomment -%}
            {{-
              product_media.preview_image
            | image_url: width: product_media.preview_image.width
            | image_tag: loading: "lazy", sizes: '(min-width: 768px) 30vw, 50vw'
            -}}
          </image-loader>
        </a>
      {%- endif -%}

      <div>
        <a href="{{ product.url | within: collection }}">
          {{ product.title | escape }}
        </a>
      </div>

      <div data-product-section-area>
        {%- render 'price', product: product, variant: current_variant -%}
      </div>

      <style>
        /**
         * TODO:
         * This "style" block is to demonstrate
         * how the "data-product-section-loading-class" attribute works
         *
         * Remove this on production site
         * and replace the "my-loading-class" with appropriate one
         */
        .my-loading-class:after {
            content: 'Loading'
        }
      </style>
      <div class="no-js-hidden" data-product-section-loading-class="my-loading-class">
        {%- unless product.has_only_default_variant -%}
          <div>
            {%- for option in product.options_with_values -%}
              <product-radio-option
                data-product-radio-option-name="{{ option.name | escape }}"
                data-product-radio-option-class-prefix="my-class-prefix-"
              >
                <div>{{ option.name | escape }}</div>
                {%- for value in option.values -%}
                  <label>
                    <input
                      type="radio"
                      name="{{ section.id }}-{{ product.id }}-{{ option.name | escape }}"
                      value="{{ value | escape }}"
                      {% if current_variant and option.selected_value == value %}checked{% endif %}>
                    <span>{{ value | escape }}</span>
                  </label>
                {%- endfor -%}
              </product-radio-option>
            {%- endfor -%}
          </div>
        {%- endunless -%}

        {% form "product", product %}
          <input type="hidden" name="id" value="{{ current_variant.id }}">
          <button
            type="submit"
            name="add"
            {% if current_variant == nil or current_variant.available == false %}
              disabled
            {% endif %}
            data-product-section-area="innerHTML,disabled"
            data-product-section-doesnotexist="{{ 'products.product.unavailable' | t }}"
          >
            {%- liquid
              if current_variant.available
                echo 'products.product.add_to_cart' | t
              elsif current_variant.available == false or product.available == false
                echo 'products.product.sold_out' | t
              else
                echo 'products.product.choose_options' | t
              endif
            -%}
          </button>
          <div class="product-card__error error-note" data-ajax-cart-messages="form"></div>
        {% endform %}

      </div>

    </div>
  </product-section>
</div>