<ul class="social-sharing" style="display: flex;">
  <li>
    <a target="_blank" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                                                                                                                                                                                                                        				<path d="M13 2H3C2.4475 2 2 2.4475 2 3V13C2 13.5525 2.4475 14 3 14H8.5V9.5H7V7.5H8.5V6.2065C8.5 4.6565 9.4465 3.8125 10.8295 3.8125C11.492 3.8125 12.061 3.862 12.227 3.884V5.504L11.268 5.5045C10.516 5.5045 10.3705 5.862 10.3705 6.386V7.5H12.5905L12.0905 9.5H10.3705V14H13C13.5525 14 14 13.5525 14 13V3C14 2.4475 13.5525 2 13 2Z" fill="black"/>
      </svg>
      <span class="visually-hidden">{{ 'general.social.alt_text.share_on_facebook' | t }}</span>
    </a>
  </li>

  <li>
    <a
      target="_blank"
      href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                                                                                                                                                                                                                                        				<path fill-rule="evenodd" clip-rule="evenodd" d="M14 4.53685C13.55 4.76737 13.1 4.8442 12.575 4.92104C13.1 4.61369 13.475 4.15266 13.625 3.53795C13.175 3.84531 12.65 3.99898 12.05 4.15266C11.6 3.69163 10.925 3.38428 10.25 3.38428C8.975 3.38428 7.85 4.53685 7.85 5.91994C7.85 6.15045 7.85 6.30413 7.925 6.45781C5.9 6.38097 4.025 5.38207 2.825 3.84531C2.6 4.2295 2.525 4.61369 2.525 5.15156C2.525 5.99678 2.975 6.76516 3.65 7.22619C3.275 7.22619 2.9 7.07251 2.525 6.91884C2.525 8.14825 3.35 9.14714 4.475 9.37766C4.25 9.4545 4.025 9.4545 3.8 9.4545C3.65 9.4545 3.5 9.4545 3.35 9.37766C3.65 10.3766 4.55 11.1449 5.675 11.1449C4.85 11.8365 3.8 12.2207 2.6 12.2207C2.375 12.2207 2.225 12.2207 2 12.2207C3.125 12.9122 4.4 13.3732 5.75 13.3732C10.25 13.3732 12.725 9.53134 12.725 6.22729C12.725 6.15045 12.725 5.99678 12.725 5.91994C13.25 5.53575 13.7 5.07472 14 4.53685Z" fill="black"/>
      </svg>
      <span class="visually-hidden">{{ 'general.social.alt_text.share_on_twitter' | t }}</span>
    </a>
  </li>

  <li>
    <a href="mailto:?subject={{ share_title | url_param_escape }}&amp;body={{ shop.url | append: share_permalink }}">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.15176 6.19213C3.30356 6.29925 3.76114 6.61738 4.52452 7.14638C5.28792 7.67537 5.87273 8.08269 6.27899 8.36834C6.32363 8.39965 6.41845 8.46772 6.56352 8.57263C6.70861 8.67761 6.82917 8.76245 6.9251 8.82716C7.0211 8.89185 7.13715 8.96442 7.27337 9.04475C7.40955 9.12501 7.53792 9.18538 7.65845 9.22535C7.77901 9.26565 7.89061 9.28561 7.99327 9.28561H8H8.00675C8.10941 9.28561 8.22106 9.26562 8.34161 9.22535C8.4621 9.18538 8.59059 9.12494 8.72665 9.04475C8.86278 8.96432 8.97883 8.89183 9.07483 8.82716C9.17083 8.76245 9.29129 8.67761 9.43643 8.57263C9.58147 8.46763 9.67642 8.39965 9.72105 8.36834C10.1317 8.08269 11.1764 7.35721 12.8549 6.19199C13.1808 5.96441 13.4531 5.6898 13.6718 5.36835C13.8907 5.04705 14 4.70998 14 4.35734C14 4.06266 13.8939 3.8104 13.6818 3.6006C13.4698 3.39075 13.2186 3.28589 12.9285 3.28589H3.07138C2.72766 3.28589 2.46314 3.40194 2.27787 3.63405C2.09262 3.8662 2 4.15638 2 4.50457C2 4.78581 2.12281 5.09058 2.36831 5.41869C2.61378 5.74682 2.87502 6.00466 3.15176 6.19213Z" fill="black"/>
        <path d="M13.3303 6.90862C11.8661 7.8996 10.7544 8.66975 9.99555 9.21892C9.74109 9.40635 9.53467 9.55266 9.37614 9.6575C9.21761 9.76241 9.00678 9.86955 8.74333 9.97887C8.47999 10.0884 8.23456 10.1429 8.00684 10.1429H8.00001H7.99328C7.76561 10.1429 7.52004 10.0884 7.25669 9.97887C6.99334 9.86955 6.78237 9.76241 6.62388 9.6575C6.46545 9.55266 6.25895 9.40635 6.00452 9.21892C5.40181 8.77699 4.29245 8.00678 2.67641 6.90862C2.42188 6.73909 2.19643 6.54476 2 6.32605V11.6429C2 11.9377 2.10487 12.1898 2.31471 12.3996C2.52451 12.6095 2.77679 12.7144 3.07145 12.7144H12.9286C13.2232 12.7144 13.4755 12.6095 13.6853 12.3996C13.8952 12.1897 14 11.9377 14 11.6429V6.32605C13.808 6.54024 13.5849 6.73456 13.3303 6.90862Z" fill="black"/>
      </svg>

      <span class="visually-hidden">{{ 'general.social.alt_text.share_on_pinterest' | t }}</span>
    </a>
  </li>
</ul>
