<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_primary }}">
    <link rel="preconnect" href="//cdn.shopify.com" crossorigin>

    <!-- Favicon -->
    {%- render 'favicon' -%}

    <!-- Title -->
    <title>{{ shop.name }}</title>

    <!-- Meta Desc -->
    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <!-- SEO and Social Media Meta -->
    {%- render 'social-meta-tags' -%}

    <!-- Shopify Header Hooks -->
    {{ content_for_header }}

    <!-- Critical CSS -->
    {%- style -%}
      {%- render 'critical.css' -%}
    {%- endstyle -%}

    {%- render 'stylesheet', name: 'password' -%}

    <!-- Common/Main js file -->
    <script src="{{ 'password.min.js' | asset_url }}" defer="defer"></script>
  </head>
  <body class="password-page">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      {{- 'accessibility.skip_to_text' | t -}}
    </a>
    <main class="password-main" role="main" id="MainContent">
      {{ content_for_layout }}
    </main>

    {%- if settings.klaviyo_id != blank -%}
      {% comment %}theme-check-disable{% endcomment %}
      <script
        async
        type="text/javascript"
        src="//static.klaviyo.com/onsite/js/klaviyo.js?company_id={{ settings.klaviyo_id }}"
      >
      </script>
      <script>
        var _learnq = _learnq || [];
        if ('{{ customer.email }}') {
          _learnq.push(['identify', {
              '$email' : '{{ customer.email }}'
            }]);
        }
      </script>
      {% comment %}theme-check-enable{% endcomment %}
    {%- endif -%}
  </body>
</html>
