<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <script>
      document.documentElement.classList.remove('no-js');
      document.documentElement.classList.add('js');
      if (window.Shopify?.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_primary }}">
    <link rel="preconnect" href="//cdn.shopify.com" crossorigin>

    <!-- Favicon -->
    {% comment %} {%- render 'favicon' -%} {% endcomment %}

    <!-- Title -->
    <title>{%- render 'title' -%}</title>

    <!-- Meta Desc -->
    {%- if template.name == 'gift_card' -%}
      <meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">
    {% elsif page_description %}
      <meta name="description" content="{{ page_description | escape }}">
      {%- render 'social-meta-tags' -%}
    {%- endif -%}

    <!-- Shopify Header Hooks -->
    {{ content_for_header }}

    <!-- Critical CSS -->
    {%- style -%}
      {%- render 'critical.css' -%}
    {%- endstyle -%}

    <!-- Common/Main css file -->
    {%- render 'stylesheet', name: 'common' -%}

    <!-- Common/Main js file -->
    {%- render 'script', name: 'common' -%}
  </head>
  <body
    id="{{ page_title | handle }}"
    class="{% if customer %}customer-logged-in {% endif %}template-{{ request.page_type | handle }} template-{{ template.name }}"
  >
    <a class="skip-link" href="#MainContent">{{- 'general.accessibility.skip_to_text' | t -}}</a>


    <component-loader>
      {%- section 'header' -%}
      {%- render 'breadcrumbs' -%}
      <main class="main-content" role="main" id="MainContent">
        {{ content_for_layout }}
      </main>

      {%- section 'footer' -%}

      {%- section 'ajax-cart' -%}
      {%- section 'klaviyo-bis' -%}
    </component-loader>

    <!-- Cart JSON -->
    <script type="application/json" data-ajax-cart-initial-state>
      {{- cart | json -}}
    </script>

    {%- render 'component-loader' -%}

    {%- comment -%} Required for predictive search  {%- endcomment -%}
    <script>
      window.routes = {
        predictive_search_url: '{{ routes.predictive_search_url }}',
      };
    </script>

    {%- render 'klaviyo-main-script' -%}

    {%- if template contains 'product' -%}
      {%- render 'product-structured-data' -%}
      {%- render 'klaviyo-product-tracker' -%}
    {%- endif -%}
  </body>
</html>
