{%- render "stylesheet", name: "ajax-cart", defer: true -%}

<div style="display: none" class="minicart">
  <div class="minicart__overlay" data-ajax-cart-toggle-class-button="js-ajax-cart-opened"></div>
  <div
    aria-modal="true"
    class="minicart__inner"
    role="dialog"
  >
    <div class="minicart__section" data-ajax-cart-section>
      <div class="minicart__header">
        <h3 class="title">{{ section.settings.cart_title }}</h3>
        {%- if section.settings.cart_text != blank -%}
          <p class="cart-info">{{ section.settings.cart_text }}</p>
        {%- endif -%}
        <button
          class="close-button"
          data-ajax-cart-toggle-class-button="js-ajax-cart-opened"
          type="button"
          aria-label="{{ 'accessibility.close' | t }}"
        ></button>
      </div>
      {%- if cart.item_count == 0 -%}
        <div class="minicart__empty">
          <div>
            <h4 style="margin-bottom: 1rem;">{{ section.settings.cart_empty }}</h4>
            <a class="primary-button" href=" {{ routes.all_products_collection_url }}">
              {{- 'sections.ajax_cart.shop_now' | t -}}
            </a>
          </div>
        </div>
      {%- else -%}
        <form class="minicart__body" action="/cart" method="post">
          {% for item in cart.items %}
            {% render 'cart-item', item: item, index: forloop.index %}
          {% endfor %}
        </form>
        <div class="minicart__footer">
          <div class="minicart__footer-title-section">
            <h5 class="title">{{ 'sections.ajax_cart.subtotal' | t }}</h5>
            <span class="subtotal">
              {{ cart.total_price | money }}
            </span>
          </div>

          <div class="minicart__footer-buttons-section">
            <a class="secondary-button" href="{{ routes.cart_url }}">
              {{ 'sections.ajax_cart.go_to_cart' | t }}
            </a>
            <form action="/cart" method="post">
              <button class="primary-button" name="checkout" type="submit">
                {{ 'sections.ajax_cart.checkout' | t }}
              </button>
            </form>
          </div>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Ajax Cart",
  "settings": [
    {
      "type": "header",
      "content": "Main Settings"
    },
    {
      "type": "text",
      "id": "cart_title",
      "label": "Title",
      "default": "My Bag"
    },
    {
      "type": "text",
      "id": "cart_text",
      "label": "Short text",
      "default": "Free shipping on all domestic orders over $150"
    },
    {
      "type": "text",
      "id": "cart_empty",
      "label": "Empty cart text",
      "default": "Oops, There’s nothing in your cart"
    }
  ]
}
{% endschema %}
