<footer>
  {%- if section.settings.menu != blank and section.settings.menu.links.size > 0 -%}
    <div>
      {%- for link in section.settings.menu.links -%}
        {%- if link.links.size > 0 -%}
          <div>
            <div>{{ link.title | escape }}</div>
            <ul>
              {%- for child_link in link.links -%}
                <li>
                  <a
                    href="{{ child_link.url }}"
                    {% if child_link.current %}
                      aria-current="true"
                    {% endif %}
                  >
                    {{- child_link.title | escape -}}
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  {%- endif -%}
  {%- if newsletter_code != blank -%}
    {{- newsletter_code -}}
  {%- endif -%}
  {%- if section.settings.social_menu != blank -%}
    <div>
      {%- render 'social-links', socials: linklists[section.settings.social_menu] -%}
    </div>
  {%- endif -%}
  <div>&copy; {{ 'now' | date: '%Y' }}</div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "link_list",
      "id": "social_menu",
      "label": "Social Menu"
    },
    {
      "type": "liquid",
      "id": "newsletter_code",
      "label": "Newsletter code"
    }
  ]
}
{% endschema %}
