{%- liquid
  capture logo_html
    render 'site-logo', logo_image: section.settings.logo_image, logo_text: section.settings.logo_svg
  endcapture
-%}
<style>
  .loader {
    width: 15px;
    height: 15px;
    border: 2px solid #000;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 0.5s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .predictive-search-input-wrapper {
    position: relative;
    display: inline-block;
  }
  .predictive-search-loading {
    position: absolute;
    top: 2px;
    right: 4px;
    display: none;
  }
  predictive-search[loading='true'] .predictive-search-loading {
    display: block;
  }
  predictive-search {
    position: relative;
  }
  .predictive-search-dropdown {
    position: absolute;
    top: 100%;
    background-color: #fff;
    padding: 1rem;
    display: none;
  }
  predictive-search[open='true'] .predictive-search-dropdown {
    display: block;
  }
</style>
<header>
  <div>
    <div>{{ logo_html }}</div>

    {% comment %} Simple menu {% endcomment %}

    {%- if section.settings.menu != blank -%}
      <nav>
        <ul role="list">
          {%- for link in section.settings.menu.links -%}
            <li>
              {%- if link.links != blank -%}
                <a class="{% if link.child_active %} active-class{% endif %}">
                  {{ link.title | escape }}
                </a>
                <ul style="margin-left: 1rem" role="list" tabindex="-1">
                  {%- for childlink in link.links -%}
                    <li>
                      {%- if childlink.links == blank -%}
                        <a
                          href="{{ childlink.url }}"
                          class="{% if childlink.current %} active-class{% endif %}"
                          {% if childlink.current %}
                            aria-current="page"
                          {% endif %}
                        >
                          {{ childlink.title | escape }}
                        </a>
                      {%- else -%}
                        <ul style="margin-left: 1rem" role="list" tabindex="-1">
                          {%- for grandchildlink in childlink.links -%}
                            <li>
                              <a
                                href="{{ grandchildlink.url }}"
                                class="{% if grandchildlink.current %} active-class{% endif %}"
                                {% if grandchildlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              {%- else -%}
                <a
                  href="{{ link.url }}"
                  class="{% if link.current %} active-class{% endif %}"
                  {% if link.current %}
                    aria-current="page"
                  {% endif %}
                >
                  {{ link.title | escape }}
                </a>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      </nav>
    {%- endif -%}

    {% comment %} Mega menu {% endcomment %}
    {%- assign menu_blocks = section.settings.blocks | where: 'type', 'menu_item' | map: 'settings' -%}
    {%- if menu_blocks.size > 0 -%}
      <nav>
        <ul>
          {%- for menu_item in menu_blocks -%}
            {%- assign menu_item_title = menu_item.title | default: menu_item.linklist.title -%}
            <li>
              <a href="{{ menu_item.url }}">
                {{ menu_item_title | escape }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </nav>
    {%- endif -%}

    {%- if shop.customer_accounts_enabled -%}
      <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
        Account
      </a>
    {%- endif -%}

    <div>
      <a href="{{ routes.cart_url }}" data-ajax-cart-toggle-class-button="js-ajax-cart-opened">
        Cart
        {%- if cart != empty -%}
          <div>
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
          </div>
        {%- endif -%}
      </a>
    </div>
  </div>
  <div style="background-color: #ccc; padding: 1rem">
    <predictive-search>
      <form action="{{ routes.search_url }}" method="get" role="search">
        <div>
          <label for="HeaderSearch">Search</label>
          <br>
          <div class="predictive-search-input-wrapper">
            <input
              type="search"
              id="HeaderSearch"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="Search"
              role="combobox"
              aria-expanded="false"
              aria-owns="predictive-search-results"
              aria-controls="predictive-search-results"
              aria-haspopup="listbox"
              aria-autocomplete="list"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
              spellcheck="false"
            >
            <div class="predictive-search-loading"><span class="loader"></span></div>
          </div>

          <input type="hidden" name="options[prefix]" value="last">
          <button
            type="reset"
            class="{% if search.terms == blank %} hidden{% endif %}"
            aria-label="Clear"
          >
            Clear
          </button>
          <button aria-label="Search">Search</button>
        </div>

        <div tabindex="-1" data-predictive-search class="predictive-search-results predictive-search-dropdown"></div>

        <span
          class="predictive-search-status visually-hidden"
          role="status"
          aria-hidden="true"
        ></span>
      </form>
    </predictive-search>
  </div>
</header>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "Logo Image"
    },
    {
      "type": "html",
      "id": "logo_svg",
      "label": "Logo SVG",
      "info": "Will be used in case Logo Image is not set"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Simple menu"
    }
  ],
  "blocks": [
    {
      "type": "menu_item",
      "name": "Menu Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "Will override default navigation title"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        },
        {
          "type": "link_list",
          "id": "linklist",
          "label": "Submenu"
        },
        {
          "type": "header",
          "content": "Promo Block"
        },
        {
          "type": "image_picker",
          "id": "promo_image",
          "label": "Promo Image"
        },
        {
          "type": "text",
          "id": "promo_heading",
          "label": "Promo Heading"
        },
        {
          "type": "text",
          "id": "promo_link_text",
          "label": "Promo Link Text"
        },
        {
          "type": "url",
          "id": "promo_link_url",
          "label": "Promo Link URL"
        }
      ]
    }
  ]
}
{% endschema %}
