{%- liquid
  capture logo_html
    render 'site-logo', logo_image: section.settings.logo_image, logo_text: section.settings.logo_svg
  endcapture
-%}

<header>
  <div>
    <div>{{ logo_html }}</div>
    {%- assign menu_blocks = section.settings.blocks | where: 'type', 'menu_item' | map: 'settings' -%}
    {%- if menu_blocks.size > 0 -%}
      <nav>
        <ul>
          {%- for menu_item in menu_blocks -%}
            {%- assign menu_item_title = menu_item.title | default: menu_item.linklist.title -%}
            <li>
              <a href="{{ menu_item.url }}">
                {{ menu_item_title | escape }}
              </a>
            </li>
          {%- endfor -%}
        </ul>
      </nav>
    {%- endif -%}
    <nav>
      assig
      <ul></ul>
    </nav>
  </div>
</header>

<div class="HeaderBar">
  <input type="checkbox" class="HeaderBar_ToggleMenuCheckbox" id="HeaderBar_ToggleMenuCheckbox">
  <label class="HeaderBar_ToggleButton" for="HeaderBar_ToggleMenuCheckbox"><span></span></label>

  <nav class="HeaderBar_Menu">
    {%- if section.blocks.size > 0 -%}
      <div class="HeaderBar_MobileMenuHeader">
        <label
          class="HeaderBar_ToggleButton HeaderBar_ToggleButton--close"
          for="HeaderBar_ToggleMenuCheckbox"
          ><span></span
        ></label>
        <div class="HeaderBar_Logo">
          {{- logo_html -}}
        </div>
      </div>
      {% render 'header-menu', blocks: section.blocks, wishlist_url: section.settings.wishlist_url %}
    {%- endif -%}
  </nav>

  <{{ logo_tag }} class="HeaderBar_Logo">
    {{- logo_html -}}
  </{{ logo_tag }}>

  <div
    class="HeaderBar_Search"
    id="HeaderBar_Search"
    tabindex="-1"
    onfocusout="
      setTimeout(() => {
        if (!this.contains(document.activeElement)) this.classList.remove('HeaderBar_Search--open');
      })
    "
  >
    <div class="HeaderBar_SearchContainer">
      <div class="HeaderBar_SearchForm">
        {%- render 'search-form' -%}
      </div>
      <button
        class="HeaderBar_SearchClose"
        onclick="document.getElementById('HeaderBar_Search').classList.remove('HeaderBar_Search--open')"
      >
        <i class="IconClose"></i>
      </button>
    </div>
  </div>

  <ul class="HeaderBar_Utilities">
    <li class="HeaderBar_UtilitiesItem">
      <a
        href="{{ routes.search_url }}"
        class="HeaderBar_UtilitiesLink"
        onclick="
          document.getElementById('HeaderBar_Search').classList.toggle('HeaderBar_Search--open');
          setTimeout(() => { document.querySelector('#HeaderBar_Search input').focus() }, 100);
          return false;
        "
      >
        <i class="HeaderBar_UtilitiesIcon">
          {%- render 'icon-magnifier' -%}
        </i>
        <span class="HeaderBar_UtilitiesText">
          {{- 'sections.header.search' | t -}}
        </span>
      </a>
    </li>
    {%- if section.settings.wishlist_url -%}
      <li class="HeaderBar_UtilitiesItem HeaderBar_UtilitiesItem--desktop">
        <a href="{{ section.settings.wishlist_url }}" class="HeaderBar_UtilitiesLink swym-wishlist">
          <i class="HeaderBar_UtilitiesIcon">
            {%- render 'icon-heart' -%}
          </i>
          <span class="HeaderBar_UtilitiesText">
            {{- 'sections.header.wishlist' | t -}}
          </span>
        </a>
      </li>
    {%- endif -%}
    <li class="HeaderBar_UtilitiesItem HeaderBar_UtilitiesItem--desktop">
      <a href="{{ routes.account_url }}" class="HeaderBar_UtilitiesLink">
        <i class="HeaderBar_UtilitiesIcon">
          {%- render 'icon-person' -%}
        </i>
        <span class="HeaderBar_UtilitiesText">
          {{- 'sections.header.account' | t -}}
        </span>
      </a>
    </li>
    <li class="HeaderBar_UtilitiesItem">
      {%- capture minicart_icon_html -%}
        <label
          for="HeaderBar_ToggleMinicartCheckbox"
          class="HeaderBar_UtilitiesLink HeaderBar_UtilitiesLink--cart {% if template.name == 'cart' %}HeaderBar_UtilitiesLink--active{% endif %}"
        >
          <i class="HeaderBar_UtilitiesIcon HeaderBar_UtilitiesIcon--cart {% if cart.item_count > 0 %}HeaderBar_UtilitiesIcon--cartNotEmpty{% endif %}">
            {%- render 'icon-suitcase' -%}
          </i>
          <span class="HeaderBar_UtilitiesText">
            {{- 'sections.header.cart' | t -}}
          </span>
        </label>
      {%- endcapture -%}

      {% if template.name != 'cart' %}
        <header-minicart data-header-minicart-html-class="js-header-minicart-opened">
          <input type="checkbox" id="HeaderBar_ToggleMinicartCheckbox" class="HeaderBar_ToggleMinicartCheckbox">
          {{- minicart_icon_html -}}
          <div class="HeaderBar_MiniCart">
            {%- render 'mini-cart' -%}
          </div>
        </header-minicart>
      {%- else -%}
        {{- minicart_icon_html -}}
      {%- endif -%}
    </li>
    {%- if localization.available_countries.size > 1 -%}
      <li class="HeaderBar_UtilitiesItem HeaderBar_UtilitiesItem--desktop">
        <div class="HeaderBar_CountrySelector">
          {%- render 'country-selector' -%}
        </div>
      </li>
    {%- endif -%}
  </ul>
</div>

{%- if request.page_type == 'index' -%}
  {%- assign potential_action_target = shop.url | append: routes.search_url | append: '?q={search_term_string}' -%}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "Logo Image"
    },
    {
      "type": "html",
      "id": "logo_svg",
      "label": "Logo SVG",
      "info": "Will be used in case Logo Image is not set"
    }
  ],
  "blocks": [
    {
      "type": "menu_item",
      "name": "Menu Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "Will override default navigation title"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        },
        {
          "type": "link_list",
          "id": "linklist",
          "label": "Submenu"
        },
        {
          "type": "header",
          "content": "Promo Block"
        },
        {
          "type": "image_picker",
          "id": "promo_image",
          "label": "Promo Image"
        },
        {
          "type": "text",
          "id": "promo_heading",
          "label": "Promo Heading"
        },
        {
          "type": "text",
          "id": "promo_link_text",
          "label": "Promo Link Text"
        },
        {
          "type": "url",
          "id": "promo_link_url",
          "label": "Promo Link URL"
        }
      ]
    }
  ]
}
{% endschema %}
