{%- render 'stylesheet', name: 'hero-banner' -%}
{%- render 'script', name: 'hero-banner' -%}

{%- liquid

  #This is a sample shopify section. 
  #Feel free to modify it and add styling.

  assign hero_video = section.settings.hero_video
  assign hero_img_desktop = section.settings.hero_img
  assign hero_img_mobile = section.settings.hero_img_mob

  assign image_loading = 'lazy'
  if section.settings.optimize_first_screen
    assign image_loading = 'eager'
  endif

  assign hero_cover_color = section.settings.hero_cover_color
  assign hero_cover_opacity = section.settings.hero_cover_opacity
  assign vertical_alignment = section.settings.vertical_alignment
  assign horizontal_alignment = section.settings.horizontal_alignment
  assign text_alignment = section.settings.text_align
  assign hero_text_color = section.settings.hero_text_color

  assign hero_pre_title = section.settings.hero_pre_title | escape
  assign hero_title = section.settings.hero_title | escape
  assign hero_text = section.settings.hero_text
  assign hero_button_text = section.settings.hero_b_text | escape
  assign hero_button_url = section.settings.hero_b_url
-%}

<section class="hero-banner">
  <div class="hero-banner__bg">
    {%- if hero_video != blank -%}
      <video
        class="hero-banner__bg-video"
        crossorigin="anonymous"
        autoplay
        playsinline
        muted
        loop
        poster="{{ hero_img_desktop | image_url: width: hero_img_desktop.width }}"
        preload="none"
        type="video/mp4"
        src="{{ hero_video }}"
      ></video>
    {%- else -%}
      {% if hero_img_desktop %}
        <div class="hero-banner__bg-desktop">
          {{
            hero_img_desktop
            | image_url: width: hero_img_desktop.width
            | image_tag: loading: image_loading, sizes: '(min-width: 540px) 100vw, 50vw'
          }}
        </div>
      {% endif %}
      {% if hero_img_mobile %}
        <div class="hero-banner__bg-mobile">
          {{
            hero_img_mobile
            | image_url: width: hero_img_mobile.width
            | image_tag: loading: image_loading, sizes: '(min-width: 540px) 100vw, 50vw'
          }}
        </div>
      {% endif %}
    {%- endif -%}
  </div>
  {%- if hero_cover_color != blank -%}
    <div
      class="hero-banner__cover"
      style="opacity: {{ hero_cover_opacity }}%; background-color: {{ hero_cover_color }};"
    ></div>
  {%- endif -%}
  <div
    class="hero-banner__content"
    style="align-items: {{ vertical_alignment }}; text-align: {{ text_alignment }}; justify-content: {{ horizontal_alignment }}"
  >
    <div style="color: {{ hero_text_color }};">
      {% if hero_pre_title != blank -%}
        <span class="hero-banner__content-pretitle">{{- hero_pre_title -}}</span>
      {%- endif %}
      {% if hero_title != blank -%}
        <h2 class="hero-banner__content-title" style="-webkit-text-stroke: 1px {{ hero_text_color }};">
          {{- hero_title -}}
        </h2>
      {%- endif %}
      {% if hero_text != blank -%}
        <div class="hero-banner__content-text">{{- hero_text -}}</div>
      {%- endif %}
      {% if hero_button_text != blank -%}
        <div>
          <a
            href="{{ hero_button_url }}"
            class="hero-banner__content-link"
          >
            {{- hero_button_text -}}
          </a>
        </div>
      {%- endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Hero Banner",
  "settings": [
    {
      "type": "header",
      "content": "Background Settings"
    },
    {
      "type": "checkbox",
      "id": "optimize_first_screen",
      "label": "Optimize for first screen"
    },
    {
      "type": "image_picker",
      "id": "hero_img",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "hero_img_mob",
      "label": "Mobile Image"
    },
    {
      "type": "text",
      "id": "hero_video",
      "label": "Video Url (mp4)"
    },
    {
      "type": "header",
      "content": "Text Block Settings"
    },
    {
      "type": "text",
      "id": "hero_pre_title",
      "label": "Pre Title"
    },
    {
      "type": "text",
      "id": "hero_title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "hero_text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "hero_b_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "hero_b_url",
      "label": "Button Url"
    },
    {
      "type": "color",
      "id": "hero_text_color",
      "label": "Text Color",
      "default": "#000"
    },
    {
      "type": "header",
      "content": "Overlay Settings"
    },
    {
      "type": "color",
      "id": "hero_cover_color",
      "label": "Cover Color"
    },
    {
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 1,
      "id": "hero_cover_opacity",
      "label": "Cover Opacity",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section Alignment"
    },
    {
      "type": "select",
      "id": "text_align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "label": "Text alignment",
      "default": "center"
    },
    {
      "type": "select",
      "id": "vertical_alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Middle"
        },
        {
          "value": "flex-end",
          "label": "Bottom"
        }
      ],
      "label": "Vertical alignment",
      "default": "center"
    },
    {
      "type": "select",
      "id": "horizontal_alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Right"
        }
      ],
      "label": "Horizontal alignment",
      "default": "center"
    }
  ],
  "presets": [
    {
      "name": "Hero Banner",
      "category": "Home Page"
    }
  ]
}
{% endschema %}
