{%- comment -%}
  Usage:
      1. Copy paste {%- section 'klaviyo-backinstock' -%} to theme.liquid
      2. In product.liquid add <script type="application/json" data-product-json-variants>{{ product.variants | json }}</script> inside product form. (if you already have it just add data-bis-vaiants attribute)
      3. Adjust klaviyo ID in this section. (in code or create section fields and let the client to edit it)
      4. Please add data-bis-disabled attribute if you want to disable Notify me button and keep sold out.

      WXeasw
{%- endcomment -%}
{%- unless section.settings.klaviyo_id == blank -%}
  {%- liquid
    style
      render 'css-back-in-stock.css'
    endstyle
  -%}
  <klaviyo-backinstock>
    <div
      role="dialog"
      aria-label="Klaviyo back in stock modal"
      aria-modal="true"
      class="klaviyo-backinstock"
      tabindex="-1"
    >
      <button data-klaviyo-backinstock-close type="button" class="klaviyo-backinstock__close">×</button>
      <div class="klaviyo-backinstock__content">
        <form method="post" action="/">
          <div data-klaviyo-backinstock-body></div>
          <input name="a" value="{{ section.settings.klaviyo_id }}" type="hidden">
          <input name="platform" value="shopify" type="hidden">
          <input type="email" required name="email" placeholder="{{ 'general.backinstock.email_placeholder' | t }}">
          <button type="submit" class="klaviyo-backinstock__submit">
            {{ 'general.backinstock.button_text' | t }}
          </button>
          <div class="klaviyo-backinstock__success-message" data-klaviyo-backinstock-success>
            {{ 'general.backinstock.success_text' | t }}
          </div>
        </form>
      </div>
    </div>
  </klaviyo-backinstock>
{%- endunless -%}

{% schema %}
{
  "name": "Klaviyo back in stock",
  "settings": [
    {
      "type": "text",
      "id": "klaviyo_id",
      "label": "Klaviyo ID",
      "default": "WXeasw"
    }
  ]
}
{% endschema %}
