<div class="main-password">
  <div class="main-password_bg">
    {{
      section.settings.bg
      | image_url: width: section.settings.bg.width
      | image_tag: preload: true, class: 'cover', loading: 'lazy'
    }}
  </div>
  <div class="main-password_body">
    {% if section.settings.logo_path != blank %}
      {{ section.settings.logo_path | img_tag: 'logo', 'main-logo' }}
    {% endif %}
    <h1 class="main-password_body-title">{{ section.settings.title }}</h1>
    <div class="main-password_body-newsletter">
      {{ section.settings.newsletter_form }}
    </div>
  </div>
  <footer>
    <ul class="main-password_body-socials">
      {% for block in section.blocks %}
        {% if block.type == 'social_link' %}
          <li>
            <a href="{{ block.settings.icon_link }}">{%- render 'social-icons', icon: block.settings.icon_type -%}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </footer>
</div>

{% schema %}
{
  "name": "Main Password",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg",
      "label": "Background image"
    },
    {
      "type": "text",
      "id": "logo_path",
      "label": "Logo Path (svg)"
    },
    {
      "type": "text",
      "id": "title",
      "default": "Coming soon...",
      "label": "Title"
    },
    {
      "type": "liquid",
      "id": "newsletter_form",
      "label": "Newsletter form",
      "default": "<div class='klaviyo-form-SJLAFx'></div>"
    }
  ],
  "blocks": [
    {
      "type": "social_link",
      "name": "Social Link",
      "settings": [
        {
          "type": "select",
          "id": "icon_type",
          "options": [
            {
              "value": "facebook",
              "label": "Facebook"
            },
            {
              "value": "facebook_filled",
              "label": "Facebook filled"
            },
            {
              "value": "youtube",
              "label": "Youtube"
            },
            {
              "value": "youtube_filled",
              "label": "Youtube filled"
            },
            {
              "value": "twitter",
              "label": "Twitter"
            },
            {
              "value": "twitter_filled",
              "label": "Twitter filled"
            },
            {
              "value": "instagram",
              "label": "Instagram"
            },
            {
              "value": "pinterest",
              "label": "Pinterest"
            }
          ],
          "label": "Type"
        },
        {
          "type": "url",
          "id": "icon_link",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}
