{%- render 'stylesheet', name: 'account' -%}
<h1>Register</h1>
<smart-form>
{%- form 'create_customer', novalidate: 'novalidate', class: 'form' -%}
  {%- if form.errors -%}
    {{ form.errors | default_errors }}
  {%- endif -%}
  <div>
    <input
      type="text"
      name="customer[first_name]"
      id="RegisterForm-FirstName"
      {% if form.first_name %}
        value="{{ form.first_name }}"
      {% endif %}
      autocomplete="given-name"
      placeholder="First name"
      aria-required="true"
      required
    >
    <label for="RegisterForm-FirstName"> First name </label>
  </div>
  <div>
    <input
      type="text"
      name="customer[last_name]"
      id="RegisterForm-LastName"
      {% if form.last_name %}
        value="{{ form.last_name }}"
      {% endif %}
      autocomplete="family-name"
      placeholder="Last name"
    >
    <label for="RegisterForm-LastName"> Last name </label>
  </div>
  <div>
    <input
      type="email"
      name="customer[email]"
      id="RegisterForm-email"
      {% if form.email %}
        value="{{ form.email }}"
      {% endif %}
      spellcheck="false"
      autocapitalize="off"
      autocomplete="email"
      aria-required="true"
      {% if form.errors contains 'email' %}
        aria-invalid="true"
        aria-describedby="RegisterForm-email-error"
      {% endif %}
      placeholder="Email"
      aria-required="true"
      required
    >
    <label for="RegisterForm-email"> Email </label>
  </div>
  {% comment %} ## Individual error:   {% endcomment %}
  {%- if form.errors contains 'email' -%}
    {{ form.errors.translated_fields.email | capitalize }}
    {{ form.errors.messages.email }}.
  {%- endif -%}

  <div>
    <input
      type="password"
      name="customer[password]"
      id="RegisterForm-password"
      aria-required="true"
      {% if form.errors contains 'password' %}
        aria-invalid="true"
        aria-describedby="RegisterForm-password-error"
      {% endif %}
      placeholder="Password"
      aria-required="true"
      required
    >
    <label for="RegisterForm-password"> Password </label>
    {% comment %} ## Individual error: {% endcomment %}
    {%- if form.errors contains 'password' -%}
      {{ form.errors.translated_fields.password | capitalize }}
      {{ form.errors.messages.password }}.
    {%- endif -%}
  </div>
  <button type="submit">Submit</button>
{%- endform -%}
</smart-form>

{% schema %}
{
  "name": "Main Register",
  "settings": []
}
{% endschema %}
