{{ 'customer.css' | asset_url | stylesheet_tag }}

<div>
  <h1>Order page</h1>
  <a href="{{ routes.account_url }}">Return to account</a>
</div>

<div>
  <h2>{{ order.name }}</h2>
  {%- assign order_date = order.created_at | time_tag: format: 'date_at_time' -%}
  <p>{{ order_date }}</p>
  {%- if order.cancelled -%}
    {%- assign cancelled_at = order.cancelled_at | time_tag: format: 'date_at_time' -%}
    <p>{{ cancelled_at }}</p>
    <p>{{ order.cancel_reason_label }}</p>
  {%- endif -%}

  <table role="table">
    <caption class="visually-hidden">
      {{ order.name }}
    </caption>
    <thead role="rowgroup">
      <tr role="row">
        <th id="ColumnProduct" scope="col" role="columnheader">Product</th>
        <th id="ColumnSku" scope="col" role="columnheader">SKU</th>
        <th id="ColumnPrice" scope="col" role="columnheader">Price</th>
        <th id="ColumnQuantity" scope="col" role="columnheader">Quantity</th>
        <th id="ColumnTotal" scope="col" role="columnheader">Total</th>
      </tr>
    </thead>
    <tbody role="rowgroup">
      {%- for line_item in order.line_items -%}
        <tr role="row">
          <td
            id="Row{{ line_item.key }}"
            headers="ColumnProduct"
            role="rowheader"
            scope="row"
            data-label="Product"
          >
            <div>
              {%- if line_item.url != blank -%}
                <a href="{{ line_item.url }}">{{ line_item.title }}</a>
              {%- else -%}
                <p>{{ line_item.title }}</p>
              {%- endif -%}
              {%- assign property_size = line_item.properties | size -%}
              {%- unless line_item.selling_plan_allocation == null and property_size == 0 -%}
                {% comment %} ## Properties {% endcomment %}
                <div>
                  {%- unless line_item.product.has_only_default_variant -%}
                    <span>
                      {{ line_item.variant.title }}
                    </span>
                  {%- endunless -%}
                  {%- unless line_item.selling_plan_allocation == null -%}
                    <span>
                      {{ line_item.selling_plan_allocation.selling_plan.name }}
                    </span>
                  {%- endunless -%}
                  {%- if property_size != 0 -%}
                    {%- for property in line_item.properties -%}
                      {% assign property_first_char = property.first | slice: 0 %}
                      {%- if property.last != blank and property_first_char != '_' -%}
                        <span>
                          {{ property.first }}:&nbsp;
                          {%- if property.last contains '/uploads/' -%}
                            <a href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>
                          {%- else -%}
                            {{ property.last }}
                          {%- endif -%}
                        </span>
                      {%- endif -%}
                    {%- endfor -%}
                  {%- endif -%}
                </div>
              {%- endunless -%}

              {%- if line_item.line_level_discount_allocations != blank -%}
                <ul role="list" aria-label="Discounts">
                  {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                    <li>
                      {{- discount_allocation.discount_application.title }} (-
                      {{- discount_allocation.amount | money -}}
                      )
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}

              {%- if line_item.fulfillment -%}
                <div>
                  {%- assign created_at = line_item.fulfillment.created_at | time_tag: format: 'date' -%}
                  <span>{{ created_at }}</span>

                  {%- if line_item.fulfillment.tracking_url -%}
                    <a href="{{ line_item.fulfillment.tracking_url }}">
                      Track shipping
                    </a>
                  {%- endif -%}
                  <span>
                    {{ line_item.fulfillment.tracking_company }}
                    {%- if line_item.fulfillment.tracking_number -%}
                      #{{ line_item.fulfillment.tracking_number }}
                    {%- endif -%}
                  </span>
                </div>
              {%- endif -%}
            </div>
          </td>
          <td
            headers="Row{{ line_item.key }} ColumnSku"
            role="cell"
            data-label="SKU"
          >
            {{ line_item.sku }}
          </td>
          <td
            headers="Row{{ line_item.key }} ColumnPrice"
            role="cell"
            data-label="Price"
          >
            {%- if line_item.original_price != line_item.final_price or line_item.unit_price_measurement -%}
              <dl>
                {%- if line_item.original_price != line_item.final_price -%}
                  <dt>
                    <span class="visually-hidden">Regular price</span>
                  </dt>
                  <dd>
                    <s>{{ line_item.original_price | money }}</s>
                  </dd>
                  <dt>
                    <span class="visually-hidden">Sale price</span>
                  </dt>
                  <dd>
                    <span>{{ line_item.final_price | money }}</span>
                  </dd>
                {%- else -%}
                  <dt>
                    <span class="visually-hidden">Regular price</span>
                  </dt>
                  <dd>
                    {{ line_item.original_price | money }}
                  </dd>
                {%- endif -%}
                {%- if line_item.unit_price_measurement -%}
                  <dt>
                    <span class="visually-hidden">Unit price</span>
                  </dt>
                  <dd>
                    <span>
                      {%- capture unit_price_separator -%}
                        <span aria-hidden="true">/</span>
                      {%- endcapture -%}
                      {%- capture unit_price_base_unit -%}
                        {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                          {{- line_item.unit_price_measurement.reference_value -}}
                        {%- endif -%}
                        {{ line_item.unit_price_measurement.reference_unit }}
                      {%- endcapture -%}
                      <span data-unit-price>{{ line_item.unit_price | money }}</span>
                      {{- unit_price_separator -}}
                      {{- unit_price_base_unit -}}
                    </span>
                  </dd>
                {%- endif -%}
              </dl>
            {%- else -%}
              <span>{{ line_item.final_price | money }}</span>
            {%- endif -%}
          </td>
          <td
            headers="Row{{ line_item.key }} ColumnQuantity"
            role="cell"
            data-label="Quantity"
          >
            {{ line_item.quantity }}
          </td>
          <td
            headers="Row{{ line_item.key }} ColumnTotal"
            role="cell"
            data-label="Total"
          >
            {%- if line_item.original_line_price != line_item.final_line_price -%}
              <dl>
                <dt>
                  <span class="visually-hidden">Regular price</span>
                </dt>
                <dd class="regular-price">
                  <s>{{ line_item.original_line_price | money }}</s>
                </dd>
                <dt>
                  <span class="visually-hidden">Sale price</span>
                </dt>
                <dd>
                  <span>{{ line_item.final_line_price | money }}</span>
                </dd>
              </dl>
            {%- else -%}
              {{ line_item.original_line_price | money }}
            {%- endif -%}
          </td>
        </tr>
      {%- endfor -%}
    </tbody>
    <tfoot role="rowgroup">
      <tr role="row">
        <td id="RowSubtotal" role="rowheader" scope="row" colspan="4">
          Subtotal
        </td>
        <td headers="RowSubtotal" role="cell" data-label="Subtotal">
          {{ order.line_items_subtotal_price | money }}
        </td>
      </tr>
      {%- if order.cart_level_discount_applications != blank -%}
        <tr role="row">
          {%- for discount_application in order.cart_level_discount_applications -%}
            <td id="RowDiscount" role="rowheader" scope="row" colspan="4">
              Discount
              <span>
                {{- discount_application.title -}}
              </span>
            </td>
            <td headers="RowDiscount" role="cell" data-label="Discount">
              <div>
                <span>-{{ discount_application.total_allocated_amount | money }}</span>
                <span>
                  {{- discount_application.title -}}
                </span>
              </div>
            </td>
          {%- endfor -%}
        </tr>
      {%- endif -%}
      {%- for shipping_method in order.shipping_methods -%}
        <tr role="row">
          <td id="RowShipping" role="rowheader" scope="row" colspan="4">
           Shipping({{ shipping_method.title }})
          </td>
          <td
            headers="RowShipping"
            role="cell"
            data-label="Shipping ({{ shipping_method.title }})"
          >
            {{ shipping_method.price | money }}
          </td>
        </tr>
      {%- endfor -%}
      {%- for tax_line in order.tax_lines -%}
        <tr role="row">
          <td id="RowTax" role="rowheader" scope="row" colspan="4">
            Tax ({{ tax_line.title }}
            {{ tax_line.rate | times: 100 }}%)
          </td>
          <td
            headers="RowTax"
            role="cell"
            data-label="Tax ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)"
          >
            {{ tax_line.price | money }}
          </td>
        </tr>
      {%- endfor -%}
      {%- if order.total_duties -%}
        <tr role="row">
          <td id="RowDuties" role="rowheader" scope="row" colspan="4">Total duties</td>
          <td headers="RowDuties" role="cell" data-label="Total duties">
            {{ order.total_duties | money }}
          </td>
        </tr>
      {%- endif -%}
      <tr role="row">
        <td id="RowTotal" role="rowheader" scope="row" colspan="3">Order total</td>
        <td headers="RowTotal" role="cell" colspan="2" data-label="Order total">
          {{ order.total_price | money_with_currency }}
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<div>
  <div>
    <h2>Billing address</h2>
    <p>
      <strong>Payment status:</strong>
      {{ order.financial_status_label }}
    </p>
    {{ order.billing_address | format_address }}
  </div>
  <div>
    <h2>Shipping address</h2>
    <p>
      <strong>Fulfillment status:</strong>
      {{ order.fulfillment_status_label }}
    </p>
    {{ order.shipping_address | format_address }}
  </div>
</div>

{% schema %}
{
  "name": "Main Order",
  "settings": []
}
{% endschema %}
