{% capture content %}

<h1 class="customer-portal__main-title customer-portal__main-title--desktop">
  {{ 'customer.account.page_title' | t }}
</h1>

<div class="account-field">
  <div class="account-field__header">
    <h2 class="account-field-title">{{ 'customer.account.account_info' | t }}</h2>
  </div>
  <div class="account-field__body">
    <h2 class="account-field-title account-field-title--contact-info">{{ 'customer.account.contact_info' | t }}</h2>
    <p>{{ customer.name }}</p>
    <p>{{ customer.email }}</p>
  </div>
</div>

<div class="account-field">
  <div class="account-field__header">
    <h2 class="account-field-title account-field-title--address">
      <span>{{ 'customer.addresses.page_title' | t }}</span>
      <a href="{{ routes.account_addresses_url }}">View addresses ({{ customer.addresses_count }})</a>
    </h2>
  </div>
  <div class="account-field__body">
    <div class="account-field__address">
      {%- if customer.addresses_count > 0 -%}
        {{ customer.default_address | format_address }}
      {%- else -%}
        {{ 'customer.addresses.no_address_text' | t }}
      {%- endif -%}
    </div>
  </div>
</div>

<div class="account-field account-field--orders">
  <div class="account-field__header">
    <h2 class="account-field-title">{{ 'customer.account.order_history' | t }}</h2>
  </div>
  <div class="account-field__body">
    <html-fetcher id="html-fetcher-orders-pagination-{{ section.id }}">
      <component-loader>
        {% paginate customer.orders by 5 %}
        {%- if customer.orders.size > 0 -%}
        <div class="orders">
          <div class="orders__header account-field-title">
            <span>{{ 'customer.account.order_num' | t }}</span>
            <span>{{ 'customer.account.order_date' | t }}</span>
            <span>{{ 'customer.account.payment_status' | t }}</span>
            <span>{{ 'customer.account.fulfilment_status' | t }}</span>
            <span>{{ 'customer.account.order_total' | t }}</span>
          </div>
          <div class="orders__list">
            {%- for order in customer.orders -%}
            <div class="order">
              <div class="order__details">
                <span class="account-field-title">{{ 'customer.account.order_num' | t }}</span>
                <span>
                  <a href="{{ order.customer_url }}" aria-label="{{ order.name }}">
                    {{ order.name }}
                  </a>
                </span>
              </div>
              <div class="order__details">
                <span class="account-field-title">{{ 'customer.account.order_date' | t }}</span>
                <span>{{ order.created_at | time_tag: format: 'date' }}</span>
              </div>
              <div class="order__details">
                <span class="account-field-title">{{ 'customer.account.payment_status' | t }}</span>
                <span>{{ order.financial_status_label }}</span>
              </div>
              <div class="order__details">
                <span class="account-field-title">{{ 'customer.account.fulfilment_status' | t }}</span>
                <span>{{ order.fulfillment_status_label }}</span>
              </div>
              <div class="order__details">
                <span class="account-field-title">{{ 'customer.account.order_total' | t }}</span>
                <span>{{ order.total_price | money_with_currency }}</span>
              </div>
            </div>
            {%- endfor -%}
          </div>
        </div>
        {%- else -%}
          <p>{{ 'customer.account.no_order_text' | t }}</p>
        {%- endif -%}
        {%- if paginate.pages > 1 -%}
          {%- if paginate.parts.size > 0 -%}
            {% render 'pagination', paginate: paginate %}
          {%- endif -%}
        {%- endif -%}
        {% endpaginate %}
      </component-loader>
    </html-fetcher>
  </div>
</div>

{% endcapture %}
{% render 'customer-portal', content: content %}

{% schema %}
{
"name": "Main Account",
"settings": []
}
{% endschema %}