{% comment %}
  DEMO Cart page.
{% endcomment %}
{% comment %}
  This is demo css, should be removed on production.
{% endcomment %}
<style>
  .cart {
    border: 1px solid;
    margin: 1rem 0;
    padding: 1rem;
  }
  .cart-item__details {
    display: flex;
    gap: 1rem;
  }
  .cart-item__details img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  table {
    width: 100%;
  }
  th,
  td {
    padding: 6px;
    text-align: left;
  }
  .quantity-picker {
    display: flex;
    gap: 4px;
  }
  .quantity-picker input {
    max-width: 40px;
    text-align: center;
  }
  .quantity-picker a {
    text-decoration: none;
  }
</style>
<div class="cart">
  <h1 class="cart__title">{{ page_title }}</h1>
  <div data-ajax-cart-section>
    {% if cart != empty %}
      <form action="{{ routes.cart_url }}" method="post" id="cart">
        <table class="cart___main cart-main">
          <caption class="visually-hidden">
            {{ page_title }}
          </caption>
          <thead class="cart-main__row cart-item titles-row">
            <tr>
              <th class="caption-with-letter-spacing" colspan="1" scope="col">Product</th>
              <th colspan="1" scope="col">Quantity</th>
              <th colspan="1" scope="col">Price</th>
              <th colspan="1" scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            {%- render 'cart-item' for cart.items as item -%}
          </tbody>
        </table>
        <div>
          <br>
          <h3>Cart note:</h3>
          <textarea
            data-ajax-cart-property-input
            name="note"
            placeholder="Cart note"
          >
            {{ cart.note }}
          </textarea>
          {%- comment -%}
            data-ajax-cart-static-element keeps the container unchanged
            when the cart and the surrounding HTML get updated
          {%- endcomment -%}
          <div data-ajax-cart-static-element class="my-cart__app-container"></div>

          {%- if cart.cart_level_discount_applications.size > 0 -%}
            <div>
              {%- for discount_application in cart.cart_level_discount_applications -%}
                <span>{{ discount_application.title }}</span>
                <span
                  >-
                  {{- discount_application.total_allocated_amount | money -}}
                </span>
              {%- endfor -%}
            </div>
          {%- endif -%}
          <p>Total: {{ cart.total_price | money_with_currency }}</p>
          <button
            type="submit"
            id="checkout"
            name="checkout"
            {% if cart == empty %}
              disabled
            {% endif %}
            form="cart"
          >
            Checkout
          </button>

          {%- if additional_checkout_buttons -%}
            <div class="additional-checkout-buttons">
              {{ content_for_additional_checkout_buttons }}
            </div>
          {%- endif -%}
        </div>
      </form>
    {% else %}
      <h2>Cart is empty</h2>
      <a href=" {{ routes.all_products_collection_url }}">Shop all</a>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Cart page",
  "settings": []
}
{% endschema %}
