{%- render 'stylesheet', name: 'form-element' -%}

{%- capture content -%}

  <h1 class="customer-portal__main-title">
    {{ 'customer.addresses.page_title' | t }}
  </h1>

  <div class="btn-wrapper">
    {%- if customer.addresses_count == 0 -%}
      <p class="no-address-text">{{ 'customer.addresses.no_address_text' | t }}</p>
    {%- endif -%}
    <modal-opener data-modal=".form--new-address">
      <button type="button" aria-expanded="false" aria-controls="AddAddress" class="btn btn--light">
        {{ 'customer.addresses.add_new' | t }}
      </button>
    </modal-opener>
  </div>
  
  <modal-dialog class="form form--new-address">
    {%- form 'customer_address', customer.new_address -%}
      <div class="form__header">
        <p>{{ 'customer.addresses.add_new' | t }}</p>
        <span class="form__close ModalClose">
          {% include "icons", icon: "close" %}
        </span>
      </div>
      <div class="form__wrapper">
        <div class="form__row">
          <div class="form-element">
            <input
              type="text"
              id="AddressFirstNameNew"
              name="address[first_name]"
              value="{{ form.first_name }}"
              autocomplete="given-name"
              placeholder="{{ 'customer.addresses.first_name' | t }}"
            >
            <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
          </div>
          <div class="form-element">
            <input
              type="text"
              id="AddressLastNameNew"
              name="address[last_name]"
              value="{{ form.last_name }}"
              autocomplete="family-name"
              placeholder="{{ 'customer.addresses.last_name' | t }}"
            >
            <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
          </div>
        </div>
        <div class="form__row">
          <div class="form-element">
            <input
              type="text"
              id="AddressCompanyNew"
              name="address[company]"
              value="{{ form.company }}"
              autocomplete="organization"
              placeholder="{{ 'customer.addresses.company' | t }}"
            >
            <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
          </div>
        </div>
        <div class="form__row">
          <div class="form-element">
            <input
              type="text"
              id="AddressAddress1New"
              name="address[address1]"
              value="{{ form.address1 }}"
              autocomplete="address-line1"
              placeholder="{{ 'customer.addresses.address_1' | t }}"
              required
            >
            <label for="AddressAddress1New">{{ 'customer.addresses.address_1' | t }}</label>
          </div>
        </div>
        <div class="form__row">
          <div class="form-element">
            <input
              type="text"
              id="AddressAddress1New"
              name="address[address2]"
              value="{{ form.address2 }}"
              autocomplete="address-line1"
              placeholder="{{ 'customer.addresses.address_2' | t }}"
            >
            <label for="AddressAddress1New">{{ 'customer.addresses.address_2' | t }}</label>
          </div>
        </div>
        <country-province-selector class="form__row">
          <div data-country-container>
            <custom-select class="form-element" label="{{ 'customer.addresses.country' | t }}" placeholder="Select Value">
              <select
                id="AddressCountryNew"
                name="address[country]"
                data-default="{{ form.country }}"
                autocomplete="country"
              >
                {{ all_country_option_tags }}
              </select>
            </custom-select>
          </div>
          <div data-province-container style="display: none">
            <custom-select class="form-element" label="{{ 'customer.addresses.province' | t }}" placeholder="Select Value">
              <select
                id="AddressProvinceNew"
                name="address[province]"
                data-default="{{ form.province }}"
                autocomplete="address-level1"
              ></select>
            </custom-select>
          </div>
        </country-province-selector>
        <div class="form__row">
          <div class="form-element">
            <input
              type="text"
              id="AddressCityNew"
              name="address[city]"
              value="{{ form.city }}"
              autocomplete="address-level2"
              placeholder="{{ 'customer.addresses.city' | t }}"
            >
            <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
          </div>
          <div class="form-element">
            <input
              type="text"
              id="AddressZipNew"
              name="address[zip]"
              value="{{ form.zip }}"
              autocapitalize="characters"
              autocomplete="postal-code"
              placeholder="{{ 'customer.addresses.zip' | t }}"
            >
            <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
          </div>
        </div>
        <div class="form__row">
          <div class="form-element">
            <input
              type="tel"
              id="AddressPhoneNew"
              name="address[phone]"
              value="{{ form.phone }}"
              autocomplete="tel"
              placeholder="{{ 'customer.addresses.phone' | t }}"
            >
            <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
          </div>
        </div>
        <div class="form__row">
          <div class="form-element form-element--set-default">
            {{ form.set_as_default_checkbox }}
            <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <button class="btn btn--light" type="submit">{{ 'customer.addresses.add_new' | t }}</button>
        <button class="btn btn--dark ModalClose" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
      </div>
    {%- endform -%}
  </modal-dialog>

  {%- if customer.addresses_count > 0 -%}
    <html-fetcher id="html-fetcher-addresses-pagination-{{ section.id }}">
      <component-loader>
        {%- paginate customer.addresses by 8 -%}
          <div class="address-list">
            <div class="address-list__wrapper">
              {%- for address in customer.addresses -%}
                <div class="address">
                  <p class="address__title">
                    {%- if address == customer.default_address -%}
                      Default
                    {%- else -%}
                      {%- assign address_number = forloop.index -%}
                      {%- if paginate.pages > 1 -%}
                        {%- assign address_number = address_number | plus: paginate.current_offset -%}
                      {%- endif -%}
                      Address {{ address_number }}
                    {%- endif -%}
                  </p>
                  {{ address | format_address }}
                  <div class="address__btns">
                    <modal-opener data-modal="#EditAddress_{{ address.id }}">
                      <button
                        class="edit-address-btn"
                        type="button"
                        id="EditFormButton_{{ address.id }}"
                        aria-label="Edit address {{ forloop.index }}"
                        aria-controls="EditAddress_{{ address.id }}"
                        aria-expanded="false"
                        data-address-id="{{ address.id }}"
                      >
                        Edit
                      </button>
                    </modal-opener>
                    <delete-address data-message="{{ 'customer.addresses.delete_message' | t }}">
                      <form class="address-delete-form"
                        method="post"
                        action="/account/addresses/{{ address.id }}"
                      >
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit" class="delete-address-btn">Delete</button>
                      </form>
                    </delete-address>
                  </div>
      
                  <modal-dialog class="form form--edit-address" id="EditAddress_{{ address.id }}">
                    {%- form 'customer_address', address -%}
                      <div class="form__header">
                        <p>{{ 'customer.addresses.edit' | t }}</p>
                        <span class="form__close ModalClose">
                          {% include "icons", icon: "close" %}
                        </span>
                      </div>
                      <div class="form__wrapper">
                        <div class="form__row">
                          <div class="form-element">
                            <input
                              type="text"
                              id="AddressFirstName_{{ form.id }}"
                              name="address[first_name]"
                              value="{{ form.first_name }}"
                              autocomplete="given-name"
                              placeholder="{{ 'customer.addresses.first_name' | t }}"
                            >
                            <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                          </div>
                          <div class="form-element">
                            <input
                              type="text"
                              id="AddressLastName_{{ form.id }}"
                              name="address[last_name]"
                              value="{{ form.last_name }}"
                              autocomplete="family-name"
                              placeholder="{{ 'customer.addresses.last_name' | t }}"
                            >
                            <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                          </div>
                        </div>
                        <div class="form__row">
                          <div class="form-element">
                            <input
                              type="text"
                              id="AddressCompany_{{ form.id }}"
                              name="address[company]"
                              value="{{ form.company }}"
                              autocomplete="organization"
                              placeholder="{{ 'customer.addresses.company' | t }}"
                            >
                            <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                          </div>
                        </div>
                        <div class="form__row">
                          <div class="form-element">
                            <input
                              type="text"
                              id="AddressAddress1_{{ form.id }}"
                              name="address[address1]"
                              value="{{ form.address1 }}"
                              autocomplete="address-line1"
                              placeholder="{{ 'customer.addresses.address_1' | t }}"
                            >
                            <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address_1' | t }}</label>
                          </div>
                        </div>
                        <div class="form__row">
                          <div class="form-element">
                            <input
                              type="text"
                              id="AddressAddress2_{{ form.id }}"
                              name="address[address2]"
                              value="{{ form.address2 }}"
                              autocomplete="address-line2"
                              placeholder="{{ 'customer.addresses.address_2' | t }}"
                            >
                            <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address_2' | t }}</label>
                          </div>
                        </div>
                        <country-province-selector class="form__row">
                          <div data-country-container>
                            <custom-select class="form-element" label="{{ 'customer.addresses.country' | t }}" placeholder="Select Value">
                              <select
                                id="AddressCountry_{{ form.id }}"
                                name="address[country]"
                                data-default="{{ form.country }}"
                                autocomplete="country"
                              >
                                {{ all_country_option_tags }}
                              </select>
                            </custom-select>
                          </div>
                          <div data-province-container style="display: none">
                            <custom-select class="form-element" label="{{ 'customer.addresses.province' | t }}" placeholder="Select Value">
                              <select
                                id="AddressProvinceContainer_{{ form.id }}"
                                name="address[province]"
                                data-default="{{ form.province }}"
                                autocomplete="address-level1"
                              ></select>
                            </custom-select>
                          </div>
                        </country-province-selector>
                        <div class="form__row">
                          <div class="form-element">
                            <input
                              type="text"
                              id="AddressCity_{{ form.id }}"
                              name="address[city]"
                              value="{{ form.city }}"
                              autocomplete="address-level2"
                              placeholder="{{ 'customer.addresses.city' | t }}"
                            >
                            <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                          </div>
                          <div class="form-element">
                            <input
                              type="text"
                              id="AddressZip_{{ form.id }}"
                              name="address[zip]"
                              value="{{ form.zip }}"
                              autocapitalize="characters"
                              autocomplete="postal-code"
                              placeholder="{{ 'customer.addresses.zip' | t }}"
                            >
                            <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                          </div>
                        </div>
                        <div class="form__row">
                          <div class="form-element">
                            <input
                              type="tel"
                              id="AddressPhone_{{ form.id }}"
                              name="address[phone]"
                              value="{{ form.phone }}"
                              autocomplete="tel"
                              placeholder="{{ 'customer.addresses.phone' | t }}"
                            >
                            <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                          </div>
                        </div>
                        <div class="form__row">
                          <div class="form-element form-element--set-default">
                            {{ form.set_as_default_checkbox }}
                            <label for="address_default_address_{{ form.id }}"> {{ 'customer.addresses.set_default' | t }}</label>
                          </div>
                        </div>
                      </div>
                      <div class="form-actions">
                        <button class="btn btn--light" type="submit">{{ 'customer.addresses.update' | t }}</button>
                        <button class="btn btn--dark ModalClose" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
                      </div>
                    {%- endform -%}
                  </modal-dialog>

                </div>
                {%- unless forloop.last -%}
                  {%- cycle 'divider': '', '<hr>' -%}
                {%- endunless -%}
              {%- endfor -%}
            </div>
            {%- if paginate.pages > 1 -%}
              {%- if paginate.parts.size > 0 -%}
                {% render 'pagination', paginate: paginate %}
              {%- endif -%}
            {%- endif -%}
          </div>
        {%- endpaginate -%}
      </component-loader>
    </html-fetcher>

  {%- endif -%}

{%- endcapture -%}

{% render 'customer-portal', content: content %}

{% schema %}
{
  "name": "Main Addresses",
  "settings": []
}
{% endschema %}
