{%- render 'stylesheet', name: 'product' -%}
{%- render 'stylesheet', name: 'form-element' -%}

{%- comment -%}
  Calculation the current_variant variable
  TODO:
  If you don't want to preselect a first available variant,
  replace the line [assign current_variant = product.selected_or_first_available_variant]
  with the following line: [assign current_variant = product.selected_variant]
{%- endcomment -%}
{%- liquid
  assign current_variant = null
  if product.has_only_default_variant
    assign current_variant = product.variants[0]
  else
    assign current_variant = product.selected_or_first_available_variant
  endif
-%}

{%- comment -%}
  Use the unique product form ID to attach input fields that are outside the form
{%- endcomment -%}
{%- assign product_form_id = 'product-form-' | append: section.id -%}

<product-section id="{{ section.id }}-{{ product.id }}-main">
  {%- render 'product-section-json',
    product: product,
    variant_id: current_variant.id,
    section_id: section.id,
    update_url: true
  -%}

  <div>
    {%- for media in product.media -%}
      {%- comment -%}
        TODO:
        Add "lazyload" for images that aren't visible on the first screen
        Check if the following algorithm is appropriate for the design
      {%- endcomment -%}
      {%- liquid
        assign media_loading = 'lazy'
        if media.position == 1
          assign media_loading = 'eager'
        endif
      -%}

      {%- if media.media_type == 'video' -%}
        {{- media | video_tag: preload: 'none' -}}
      {%- elsif media.media_type == 'external_video' -%}
        {{- media | external_video_tag: loading: media_loading -}}
      {%- elsif media.media_type == 'model' -%}
        {{- media | model_viewer_tag -}}
      {%- else -%}
        {%- comment -%}
          TODO: Set the correct "sizes" argument according to the design
        {%- endcomment -%}
        <image-loader>
          {{-
            media.preview_image
            | image_url: width: media.preview_image.width
            | image_tag: loading: media_loading, sizes: '(min-width: 992px) 50vw, 100vw'
          -}}
        </image-loader>
      {%- endif -%}
    {%- endfor -%}
  </div>

  <style>
    /**
       * TODO:
       * This "style" block is to demonstrate
       * how the "data-product-section-loading-class" attribute works
       *
       * Remove this on production site
       * and replace the "my-loading-class" with appropriate one
       */
    .my-loading-class:after {
      content: 'Loading';
    }
  </style>
  <div data-product-section-loading-class="my-loading-class">
    <div data-product-section-error hidden>
      {{ 'products.product_section_component.error' | t }}
    </div>

    <h1>{{ product.title | escape }}</h1>
    <div data-product-section-area>
      {%- render 'price', product: product, variant: current_variant -%}
    </div>
    <div>
      {{ form | payment_terms }}
    </div>

    <div>
      {{ product.description }}
    </div>

    {%- unless product.has_only_default_variant -%}
      <div class="no-js-hidden">
        {%- for option in product.options_with_values -%}
          <div>
            {%- comment -%}
              The radio input is for the first option,
              The select element is for the rest
            {%- endcomment -%}
            {%- if forloop.index == 1 -%}
              <product-radio-option
                data-product-radio-option-name="{{ option.name | escape }}"
                data-product-radio-option-class-prefix="my-class-prefix-"
              >
                <div>
                  {{- option.name | escape -}}
                  {%- if current_variant -%}
                    <span data-product-radio-option-value=": [[value]]"> : {{ option.selected_value | escape -}}</span>
                  {%- endif -%}
                </div>
                {%- for value in option.values -%}
                  <label>
                    <input
                      type="radio"
                      name="{{ section.id }}-{{ product.id }}-{{ option.name | escape }}"
                      value="{{ value | escape }}"
                      {% if current_variant and option.selected_value == value %}
                        checked
                      {% endif %}
                    >
                    <span>{{ value | escape }}</span>
                  </label>
                {%- endfor -%}
              </product-radio-option>
            {%- else -%}
              <product-select-option
                data-product-select-option-name="{{ option.name | escape }}"
                data-product-select-option-class-prefix="my-class-prefix-"
              >
                <label
                  for="{{ section.id }}-{{ product.id }}-{{ option.name | escape }}"
                >
                  {{- option.name | escape -}}
                  {%- if current_variant -%}
                    <span data-product-select-option-value=": [[value]]"> : {{ option.selected_value | escape -}}</span>
                  {%- endif -%}
                </label>
                <custom-select class="form-element" tabindex="-1">
                  <select id="{{ section.id }}-{{ product.id }}-{{ option.name | escape }}">
                    {%- unless current_variant -%}
                      <option value="" selected disabled>
                        {{- 'products.product.choose_value' | t -}}
                      </option>
                    {%- endunless -%}
                    {%- for value in option.values -%}
                      <option
                        value="{{ value | escape }}"
                        {% if current_variant and option.selected_value == value %}
                          selected
                        {% endif %}
                      >
                        {{ value | escape }}
                      </option>
                    {%- endfor -%}
                  </select>
                </custom-select>
              </product-select-option>
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>

      <div class="no-js-show">
        <details data-product-section-area>
          <summary>
            {%- liquid
              if current_variant
                echo current_variant.title | escape
              else
                echo 'products.product.choose_options' | t
              endif
            -%}
          </summary>
          {%- for variant in product.variants -%}
            <div>
              <a href="{{ variant.url }}">
                {{ variant.title | escape }}
                {%- if variant.available == false %}({{ 'products.product.sold_out' | t }}){% endif %}
                —
                {% if variant.compare_at_price > 0 -%}
                  <s>{{ variant.compare_at_price | money | escape }}</s>
                {%- endif %}
                {{ variant.price | money | escape }}
              </a>
            </div>
          {%- endfor -%}
        </details>
      </div>
    {%- endunless -%}

    {%- form 'product', product, id: product_form_id -%}
      <input type="hidden" name="id" value="{{ current_variant.id }}">

      <quantity-input class="quantity">
        <button
          class="no-js-hidden"
          name="minus"
          type="button"
          aria-label="{{- 'products.product.quantity.increase' | t: product: product.title | escape -}}"
        >
          &nbsp;
        </button>
        <input
          type="number"
          name="quantity"
          min="1"
          value="1"
          aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
        >
        <button
          class="no-js-hidden"
          name="plus"
          type="button"
          aria-label="{{ 'products.product.quantity.increase' | t: product: product.title | escape }}"
        >
          &nbsp;
        </button>
      </quantity-input>

      <div>
        <button
          type="submit"
          name="add"
          {% if current_variant == null or current_variant.available == false %}
            disabled
          {% endif %}
          data-product-section-area="innerHTML,disabled"
          data-product-section-doesnotexist="{{ 'products.product.unavailable' | t }}"
        >
          {%- liquid
            if current_variant.available
              echo 'products.product.add_to_cart' | t
            elsif current_variant.available == false or product.available == false
              echo 'products.product.sold_out' | t
            else
              echo 'products.product.choose_options' | t
            endif
          -%}
        </button>
        <div data-product-section-area="innerHTML">
          {%- unless current_variant.available -%}
            <button type="button" data-klaviyo-bis-open data-klaviyo-bis-url="{{ product.url | within: collection }}">
              Notify me
            </button>
          {%- endunless -%}
        </div>
        <div>
          {{ form | payment_button }}
        </div>
      </div>
    {%- endform -%}
  </div>
</product-section>

{% schema %}
{
  "name": "Product page",
  "settings": []
}
{% endschema %}
