<h1>Activate account</h1>
{%- form '', class: 'form' -%}
  {%- if form.errors -%}
    {{ form.errors | default_errors }}
  {%- endif -%}

  <div>
    <input
      type="password"
      name="customer[password]"
      id="password"
      autocomplete="new-password"
      placeholder="New password"
      {% if form.errors contains 'password' %}
        aria-invalid="true"
        aria-describedby="password-error"
      {% endif %}
    >
    <label for="password"> New password </label>
    {% comment %} ## Individual error:{% endcomment %}
    {%- if form.errors contains 'password' -%}
      {{ form.errors.translated_fields.password | capitalize }}
      {{ form.errors.messages.password }}
    {%- endif -%}
  </div>

  <div>
    <input
      type="password"
      name="customer[password_confirmation]"
      id="password_confirmation"
      autocomplete="new-password"
      placeholder="Confirm New password"
      {% if form.errors contains 'password' %}
        aria-invalid="true"
        aria-describedby="password_confirmation-error"
      {% endif %}
    >
    <label for="password_confirmation"> Confirm New password </label>
    {% comment %} ## Individual error:{% endcomment %}
    {%- if form.errors contains 'password_confirmation' -%}
      {{ form.errors.translated_fields.password_confirmation | capitalize }}
      {{ form.errors.messages.password_confirmation }}
    {%- endif -%}
  </div>

  <button>Submit</button>
  <button name="decline">Cancel</button>
{%- endform -%}

{% schema %}
{
  "name": "Main Activate Account",
  "settings": []
}
{% endschema %}
