{%- render 'stylesheet', name: 'account' -%}

<h1>Reset password</h1>
<smart-form>
{%- form 'recover_customer_password', novalidate: 'novalidate', class: 'form' -%}
  {%- if form.errors -%}
    {{ form.errors | default_errors }}
  {%- endif -%}

  <div>
    <input
      type="password"
      name="customer[password]"
      id="password"
      autocomplete="new-password"
      {% if form.errors contains 'password' %}
        aria-invalid="true"
        aria-describedby="password-error"
      {% endif %}
      placeholder="Password"
      required
    >
    <label for="password"> Password </label>
    {% comment %} ## Individual error: {% endcomment %}
    {%- if form.errors contains 'password' -%}
      {{ form.errors.translated_fields.password | capitalize }}
      {{ form.errors.messages.password }}
    {%- endif -%}
  </div>

  <div class="field">
    <input
      type="password"
      name="customer[password_confirmation]"
      id="password_confirmation"
      autocomplete="new-password"
      {% if form.errors contains 'password_confirmation' %}
        aria-invalid="true"
        aria-describedby="password_confirmation-error"
      {% endif %}
      placeholder="Confirm password"
      required
    >
    <label for="password_confirmation"> Confirm password </label>
    {% comment %} ## Individual error: {% endcomment %}
    {%- if form.errors contains 'password_confirmation' -%}
      {{ form.errors.translated_fields.password_confirmation | capitalize }}
      {{ form.errors.messages.password_confirmation }}
    {%- endif -%}
  </div>

  <button type="submit">Submit</button>
{%- endform -%}
</smart-form>
{% schema %}
{
  "name": "Main Reset Password",
  "settings": []
}
{% endschema %}
