{%- comment -%}
Render product card styles in advance in order to avoid flickering when the content gets updated via ajax.
TODO: consider using inline stylesheet if the first screen rendering is blocked by product card styles
{%- endcomment -%}
{%- render 'stylesheet', name: 'product-card' -%}

<h1>
  {%- if search.performed -%}
    [Search results for “{{ search.terms | escape }}”]
  {%- else -%}
    [Search]
  {%- endif -%}
</h1>

<form action="{{ routes.search_url }}" method="get" role="search">
  <input name="options[prefix]" type="hidden" value="last">
  <div>
    <label for="main-search-input">[Search]</label>
    <input
      id="main-search-input"
      type="search"
      name="q"
      value="{{ search.terms | escape }}"
      placeholder="[Search]"
      {%- comment -%}
        TODO: uncomment the following attributes in case of predictive search
        role="combobox"
        aria-expanded="false"
        aria-owns="predictive-search-results"
        aria-controls="predictive-search-results"
        aria-haspopup="listbox"
        aria-autocomplete="list"
        autocorrect="off"
        autocomplete="off"
        autocapitalize="off"
        spellcheck="false"
      {%- endcomment -%}
    >
  </div>
</form>

{%- if search.performed -%}
  {%- unless section.settings.enable_filtering or section.settings.enable_sorting -%}
    {%- if search.results_count > 0 -%}
      <p role="status">
        {{ 'templates.search.results_with_count_and_term' | t: terms: search.terms, count: search.results_count }}
      </p>
    {%- endif -%}
  {%- endunless -%}
  {%- if search.results_count == 0 and search.filters == empty -%}
    <p role="status">{{ 'templates.search.no_results' | t: terms: search.terms }}</p>
  {%- endif -%}
{%- endif -%}

{%- if search.performed -%}

  {%- render 'facets', results: search -%}

  <div data-facets-form-content="product-list">
    {%- if search.results.size == 0 and search.filters != empty -%}
      [Nothing found for selected filters]
    {%- else -%}
      {%- paginate search.results by 8 -%}
        <infinite-paginate>
          {%- render 'infinite-paginate', type: 'load-prev', paginate: paginate -%}
          <div data-infinite-paginate-content
               data-infinite-paginate-loading-class="my-js-loading">
            <component-loader>
              {%- for item in search.results -%}
                <hr/>
                {%- case item.object_type -%}
                  {%- when 'product' -%}
                    {%- render 'product-card', product: item, without_css: true -%}
                  {%- when 'article' -%}
                    {%- render 'article-card', article: item -%}
                  {%- when 'page' -%}
                    <a href="{{ item.url }}">
                      <div>{{ item.title | escape }}</div>
                      <div>{{ item.content | strip_html | truncatewords: 30 }}</div>
                    </a>
                {%- endcase -%}
              {%- endfor -%}
            </component-loader>
          </div>
          {%- render 'infinite-paginate', type: 'load-more', paginate: paginate -%}
        </infinite-paginate>
      {%- endpaginate -%}
    {%- endif -%}
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Search Page",
  "settings": [
    {
      "type": "header",
      "content": "Product Filter"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "Enable filtering"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "Enable Sorting"
    },
    {
      "type": "header",
      "content": "Article settings"
    },
    {
      "type": "checkbox",
      "id": "articles_show",
      "default": true,
      "label": "Show articles in search"
    },
    {
      "type": "checkbox",
      "id": "article_show_date",
      "default": true,
      "label": "Show date"
    },
    {
      "type": "checkbox",
      "id": "article_show_author",
      "default": false,
      "label": "Show author"
    }
  ]
}
{% endschema %}
