<style>
  .search-results {
    border: 1px solid #000;
    padding: 5px;
    margin: 5px 0;
  }
  .search-results img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  .search-results h2 {
    font-weight: bold;
  }
  .search-results--products li {
    margin-bottom: 10px;
  }
  .search-results--products a {
    display: flex;
    gap: 4px;
  }
  .search-results li[aria-selected="true"]{
    background-color: #ccc;
  }
</style>
{%- if predictive_search.performed -%}
  {% assign total_results_size = predictive_search.resources.queries.size
    | plus: predictive_search.resources.collections.size
    | plus: predictive_search.resources.pages.size
    | plus: predictive_search.resources.articles.size
    | plus: predictive_search.resources.products.size
  %}
  {%- if total_results_size > 0 -%}
    <div id="predictive-search-results" role="listbox">
      {%- if predictive_search.resources.queries.size > 0 -%}
        <div class="search-results">
          <h2>Suggestions</h2>
          <ul role="group" aria-labelledby="predictive-search-queries">
            {%- for query in predictive_search.resources.queries -%}
              <li role="option" aria-selected="false" data-predictive-search-item>
                <a href="{{ query.url }}" tabindex="-1">
                  <p aria-label="{{ query.text }}">{{ query.styled_text }}</p>
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}

      {%- if predictive_search.resources.collections.size > 0 -%}
        <div class="search-results">
          <h2>Collections</h2>
          <ul role="group" aria-labelledby="predictive-search-collections">
            {%- for collection in predictive_search.resources.collections -%}
              <li role="option" aria-selected="false" data-predictive-search-item>
                <a href="{{ collection.url }}" tabindex="-1">
                  <p>{{ collection.title }}</p>
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}

      {%- if predictive_search.resources.pages.size > 0 -%}
        <div class="search-results">
          <h2>Pages</h2>
          <ul role="group" aria-labelledby="predictive-search-pages">
            {%- for page in predictive_search.resources.pages -%}
              <li role="option" aria-selected="false" data-predictive-search-item>
                <a href="{{ page.url }}" tabindex="-1">
                  <p>{{ page.title }}</p>
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}

      {%- if predictive_search.resources.articles.size > 0 -%}
        <div class="search-results">
          <h2>Articles</h2>
          <ul role="group" aria-labelledby="predictive-search-articles">
            {%- for article in predictive_search.resources.articles -%}
              <li role="option" aria-selected="false" data-predictive-search-item>
                <a href="{{ article.url }}" tabindex="-1">
                  <p>{{ article.title }}</p>
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}

      {%- if predictive_search.resources.products.size > 0 -%}
        <div class="search-results search-results--products">
          <h2>Products</h2>
          <ul role="group" aria-labelledby="predictive-search-products">
            {%- for product in predictive_search.resources.products -%}
              <li role="option" aria-selected="false" data-predictive-search-item>
                <a href="{{ product.url }}" tabindex="-1">
                  {%- if product.featured_media != blank -%}
                    <image-loader>
                      {{-
                        product.featured_media.preview_image
                        | image_url: width: product.featured_media.preview_image.width
                        | image_tag: loading: 'lazy', sizes: '(min-width: 768px) 30vw, 50vw'
                      -}}
                    </image-loader>
                  {%- endif -%}
                  <div>
                    <p>{{ product.title }}</p>
                    {% render 'price', product: product %}
                  </div>
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}
    </div>
  {%- else -%}
    <p>No results</p>
  {%- endif -%}
{%- endif -%}
