<div>
  {%- if section.settings.title != blank -%}
    <div>{{- section.settings.title | escape -}}</div>
  {%- endif -%}

  <html-fetcher
    href="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=6"
    loading="lazy"
    id="html-fetcher-{{ section.id }}"
  >

    {%- if recommendations.performed? == false -%}

      {%- comment -%}
        TODO: replace the "Loading" message with product placeholders according to the design
      {%- endcomment -%}
      <div>Loading</div>

    {%- elsif recommendations.products_count > 0 -%}

      {%- for product in recommendations.products -%}
        {%- render 'product-card', product: product -%}
      {% endfor %}

    {%- else -%}

      {%- comment -%}
        TODO: replace the "No recommendation" message according to the design
      {%- endcomment -%}
      <div>No recommendations</div>

    {%- endif -%}

  </html-fetcher>
</div>

{% schema %}
{
  "name": "Product recommendations",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "You may also like"
    }
  ]
}
{% endschema %}
